/*	Button Styles --- */

.hyperdrive-button,
.hyperdrive-button:visited {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.1em 1.5em 0 !important;
	outline: none;
	text-decoration: none !important;
	vertical-align: middle;
}

.hyperdrive-button.square {
	-webkit-border-radius: 1px !important;
	border-radius: 1px !important;
}

.hyperdrive-button.lessround {
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
}

.hyperdrive-button.normal {
	font-weight: normal !important;
}

.hyperdrive-button.bold {
	font-weight: bold !important;
}

.hyperdrive-button.bolder {
	font-weight: bolder !important;
}

.hyperdrive-button.xsmall {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	padding: 1px 5px !important;
	line-height: 1.5;
}

.hyperdrive-button.small {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
	padding: 5px 10px !important;
	line-height: 1.5;
}

.hyperdrive-button.medium {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 16px;
	padding: 6px 12px !important;
	line-height: 1.4;
}

.hyperdrive-button.large {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px 16px !important;
	line-height: 1.3;
}

.hyperdrive-button.xlarge {
	-webkit-border-radius: 12px;
	border-radius: 12px;
	font-size: 20px;
	padding: 12px 18px !important;
	line-height: 1.2;
}

.hyperdrive-button.supersize {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	font-size: 28px;
	padding: 14px 20px !important;
	line-height: 1.0;
}

.hyperdrive-button:hover { 
	text-decoration: none; 
}

.hyperdrive-button:active {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
	position: relative;
	top: 1px;
}

.hyperdrive-button.blue {
	background-color: #428bca;
	border-color: #357ebd;
	color: #fff;
}

.hyperdrive-button.blue:hover {
	background-color: #428bca;
	opacity: 0.65;
	color: #e0dcdc;
}

.hyperdrive-button.red {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}

.hyperdrive-button.red:hover {
	background-color: #d9534f  ;
	opacity: 0.65;
	color: #e0dcdc;
}

.hyperdrive-button.green {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}

.hyperdrive-button.green:hover {
	background-color: #5cb85c;
	opacity: 0.65;
	color: #e0dcdc;
}

.hyperdrive-button.black {
	background-color: #333333;
	border-color: #3c3b3b;
	color: #fff;
}

.hyperdrive-button.black:hover {
	background-color: #333333   ;
	opacity: 0.65;
	color: #e0dcdc;
}
.hyperdrive-button.grey {
	background-color: #939393;
	border-color: #777777;
	color: #fff;
}

.hyperdrive-button.grey:hover {
	background-color: #939393;
	opacity: 0.65;
	color: #e0dcdc;
}
.hyperdrive-button.purple {
   background-color: #8c70b7;
   border-color: #3f2763;
	color: #fff;
}

.hyperdrive-button.purple:hover {
   background-color: #8c70b7;
	opacity: 0.65;
	color: #e0dcdc;
}

.hyperdrive-button.orange {
   background-color: #f0ad4e;
   border-color: #eea236;
	color: #fff;
}

.hyperdrive-button.orange:hover {
   background-color: #f0ad4e;
	opacity: 0.65;
	color: #e0dcdc;
}

.hyperdrive-button.light-blue {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: #fff;
}

.hyperdrive-button.light-blue:hover {
	background-color: #5bc0de;
	opacity: 0.65;
	color: #e0dcdc;
}
.hyperdrive-button.yellow {
	background-color: #fae55e;
	border-color: #fddf19;
	color: #fff;
}

.hyperdrive-button.yellow:hover {
	background-color: #fae55e;
	opacity: 0.65;
	color: #e0dcdc;
}
.hyperdrive-button.white {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.hyperdrive-button.white:hover {
	background-color: #fff;
	opacity: 0.65;
	color: #e0dcdc;
}

/****************** Content Info Boxes ***********************/
.hyperdrive-box {
	margin: 0 0 1.5em 0;
}
.hyperdrive-box-title {
	display: block; 
	padding: 10px 15px; 
	margin: 0;
}
.hyperdrive-box-content {
	background: #fff; 
	padding: 10px 15px; 
	color: #000;
}
.hyperdrive-box.blue {
	background-color: #428bca;
	border: 1px solid #357ebd !important;
	color: #fff;
}
.hyperdrive-box.red {
	background-color: #d9534f;
	border: 1px solid #d43f3a !important;
	color: #fff;
}
.hyperdrive-box.green {
	background-color: #5cb85c;
	border: 1px solid #4cae4c !important;
	color: #fff;
}
.hyperdrive-box.black {
	background-color: #333333;
	border: 1px solid #357ebd !important;
	color: #fff;
}
.hyperdrive-box.grey {
	background-color: #939393;
	border: 1px solid #777777 !important;
	color: #fff;
}
.hyperdrive-box.purple {
	background-color: #8c70b7;
	border: 1px solid #3f2763 !important;
	color: #fff;
}
.hyperdrive-box.orange {
	background-color: #f0ad4e;
	border: 1px solid #eea236 !important;
	color: #fff;
}
.hyperdrive-box.light-blue {
	background-color: #5bc0de;
	border: 1px solid #46b8da !important;
	color: #fff;
}
.hyperdrive-box.yellow {
	background-color: #fae55e;
	border: 1px solid #fddf19 !important;
	color: #fff;
}
.hyperdrive-box.white {
	background-color: #fff;
	border: 1px solid #ccc !important;
	color: #333;
}


/**************** Drop Caps **************************/
.hyperdrive-dropcap {
	float: left;
	text-align: center;
	overflow:hidden;
	color: #000;
}
.firstcharacter { 
	float: left; 
	font-size: 50px;   
	padding-right: 8px;
}
/*simple*/
.hyperdrive-dropcap.simple {
	line-height: 44px;
	height:44px;
	width: 35px;
	padding: 0 2px 0 0;
	margin:0 0px -4px 0;
	font-size: 36px;
    float: left;
}
.hyperdrive-dropcap.simple.blue {
	color:  #428bca;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.red {
	color:  #d9534f ;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.green {
	color:  #5cb85c;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.black {
	color:  #000;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.grey {
	color:  #939393;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.purple {
	color:  #8c70b7;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.orange {
	color:  #f0ad4e;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.lightBlue {
	color:  #5bc0de;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.yellow {
	color:  #fae55e;
	padding-right:7px;
}
.hyperdrive-dropcap.simple.white {
	color:  #fff;
	padding-right:7px;
}
.hyperdrive-dropcap.square {
	color: #000;
	line-height: 42px;
	width: 40px;
	margin:0 8px -4px 0;
	font-size: 32px;
}
.hyperdrive-dropcap.square.blue {
	background-color: #428bca;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.red {
	background-color: #d9534f;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.green {
	background-color: #5cb85c;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.black {
	background-color: #000;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.gray {
	background-color: #939393;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.purple {
	background-color: #8c70b7;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.orange {
	background-color: #f0ad4e;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.lightBlue {
	background-color: #5bc0de;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.yellow {
	background-color: #fae55e;
	color:  #fff;
	padding-left:7px;
}
.hyperdrive-dropcap.square.white {
	background-color: #fff ;
	color:  #333;
	padding-left:7px;
}
.hyperdrive-dropcap.circle {
	color:#fff;
	line-height: 45px;
	height:46px;
	width: 46px;
	padding:0 2px 0 0;
	margin:0 8px -4px 0;
	font-size:28px;
}
.hyperdrive-dropcap.circle.blue {
	background-color: #428bca;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.red {
	background-color: #d9534f;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.green {
	background-color: #5cb85c;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.black {
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px; 
}
.hyperdrive-dropcap.circle.grey {
	background-color: #939393;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.purple {
	background-color: #8c70b7;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.orange {
	background-color: #f0ad4e;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.lightBlue {
	background-color: #5bc0de;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.yellow {
	background-color: #fae55e;
	color: #fff;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}
.hyperdrive-dropcap.circle.white {
	background-color: #fff;
	color: #333;
	border-radius: 50%;
	padding-left: 9px;
	width: 46px;
	height: 46px;
}

/*====================================================================================================
 * H I G H L I G H T E R S                                                   H I G H L I G H T E R S *
 =====================================================================================================*/

span.hyperdrive-highlighter { 
	padding: 0 5px 0 5px; 
	color: #fff; 
	text-shadow: none; 
}
.hyperdrive-highlighter.blue { 
	background-color: #428bca; 
}
.hyperdrive-highlighter.red { 
	background-color: #d9534f; 
}
.hyperdrive-highlighter.green { 
	background-color: #5cb85c; 
}
.hyperdrive-highlighter.black { 
	background-color: #333333; 
}
.hyperdrive-highlighter.grey { 
	background-color: #939393; 
}
.hyperdrive-highlighter.purple { 
	background-color: #8c70b7; 
}
.hyperdrive-highlighter.orange { 
	background-color: #f0ad4e; 
}
.hyperdrive-highlighter.lightBlue { 
	background-color: #5bc0de; 
}
.hyperdrive-highlighter.yellow { 
	background-color: #fae55e; 
}
.hyperdrive-highlighter-white { 
	background-color: #fff ; 
	color: #333 !important; 
}

/*====================================================================================================
 * B L O C K Q U O T E                                                             B L O C K Q U O T E *
 =====================================================================================================*/
.hyperdrive-blockquote {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 14px;
	color:#444;
	line-height: 28px;
	padding: 10px 20px 10px 45px;
	/*background:url("../images/blockquote.png") no-repeat scroll 0px 6px transparent;*/
	letter-spacing: 2px;
}
.hyperdrive-blockquote.blue { 
	background:url("../images/blockquote-images/blueQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#428bca;
}
.hyperdrive-blockquote.red { 
	background:url("../images/blockquote-images/redQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#d9534f;
}
.hyperdrive-blockquote.green { 
	background:url("../images/blockquote-images/greenQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#5cb85c;
}
.hyperdrive-blockquote.black { 
	background:url("../images/blockquote-images/blackQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#333333;
}
.hyperdrive-blockquote.grey { 
	background:url("../images/blockquote-images/greyQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#939393;
}
.hyperdrive-blockquote.purple { 
	background:url("../images/blockquote-images/purpleQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#8c70b7;
}
.hyperdrive-blockquote.orange { 
	background:url("../images/blockquote-images/orangeQuotes.png") no-repeat scroll 0px 6px transparent;
		color:#f0ad4e;
}
.hyperdrive-blockquote.lightBlue { 
	background:url("../images/blockquote-images/lightBlueQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#5bc0de;
}
.hyperdrive-blockquote.yellow { 
	background:url("../images/blockquote-images/yellowQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#fae55e;
}
.hyperdrive-blockquote.white { 
	background:url("../images/blockquote-images/whiteQuotes.png") no-repeat scroll 0px 6px transparent;
	color:#fff;
}
.hyperdrive-blockquote.cite {
	padding-top: 10px;
	font-size: 12px !important;
}
.hyperdrive-blockquote p {
	margin-bottom:8px;
}
.hyperdrive-blockquote.alignleft {
    float: left;
	margin: 10px 20px 0 0;
	width: 220px;
}
.hyperdrive-blockquote.alignright {
    float: right;
	margin: 10px 0 0 20px;
	width: 220px;
}
.hyperdrive-blockquote.alignnone {
    float: none;
	width:  auto;
    margin: 10px 0 0 0;
}
.hyperdrive-blockquote.cite {
	color: #666;
	font-size: 12px;
}

/* Color Box */
.hyperdrive-color-box {
	margin: 0 0 1.5em 0;
}
.hyperdrive-color-box p { 
	font-family: inherit;
	padding: 20px 20px;
}
.hyperdrive-color-box.xsmall {
	font-size: 12px !important;
}
.hyperdrive-color-box.small {
	font-size: 14px !important;
}
.hyperdrive-color-box.medium {
	font-size: 18px !important;
}
.hyperdrive-color-box.large {
	font-size: 24px !important;
}
.hyperdrive-color-box.xlarge {
	font-size: 32px !important;
}
.hyperdrive-color-box.blue {
	background-color: #428bca;
	color:#fff;
}
.hyperdrive-color-box.red {
	background-color: #d9534f;
	color:#fff;
}
.hyperdrive-color-box.green {
	background-color: #5cb85c;
	color:#fff;
}
.hyperdrive-color-box.black {
	background-color: #333333;
	color:#fff;
}
.hyperdrive-color-box.grey {
	background-color: #939393;
	color:#fff;
}
.hyperdrive-color-box.purple {
	background-color: #8c70b7;
	color:#fff;
}
.hyperdrive-color-box.orange {
	background-color: #f0ad4e;
	color:#fff;
}
.hyperdrive-color-box.lightBlue {
	background-color: #5bc0de;
	color:#fff;
}
.hyperdrive-color-box.yellow {
	background-color: #fae55e;
	color:#fff;
}
.hyperdrive-color-box.white {
	background-color: #fff;
	color:#333;
}
/*====================================================================================================
 * Alerts                                             
 =====================================================================================================*/
.hyperdrive-alert {
	margin: 0 0 1.5em 0;
}
.hyperdrive-alert p { 
	font-family: inherit;
	padding: 20px 20px;
	font-size: 16px;
}

.hyperdrive-alert.blue {
	background-color: #428bca;
	color:#fff;
}
.hyperdrive-alert.red {
	background-color: #d9534f;
	color:#fff;
}
.hyperdrive-alert.green {
	background-color: #5cb85c;
	color:#fff;
}
.hyperdrive-alert.black {
	background-color: #333333;
	color:#fff;
}
.hyperdrive-alert.grey {
	background-color: #939393;
	color:#fff;
}
.hyperdrive-alert.purple {
	background-color: #8c70b7;
	color:#fff;
}
.hyperdrive-alert.orange {
	background-color: #f0ad4e;
	color:#fff;
}
.hyperdrive-alert.lightBlue {
	background-color: #5bc0de;
	color:#fff;
}
.hyperdrive-alert.yellow {
	background-color: #fae55e;
	color:#fff;
}
.hyperdrive-alert.white {
	background-color: #fff;
	color:#333;
}
/*====================================================================================================
 * L I S T S                                                                             
 =====================================================================================================*/

ul.hyperdrive-list li, ul.hyperdrive-list li ul li { 
	list-style-type: none; 
}
ul.hyperdrive-list li { 
	padding: 0 0 15px 30px; 
	line-height: 20px; 
}
ul.hyperdrive-list li ul { 
	margin-left: 0px; 
}
ul.hyperdrive-list.money li {
    position:relative;
}
ul.hyperdrive-list.money li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f0d6";
}
ul.hyperdrive-list.phone li {
    position:relative;
}
ul.hyperdrive-list.phone li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f095";
}
ul.hyperdrive-list.download li {
    position:relative;
}
ul.hyperdrive-list.download li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f0ed";
}
ul.hyperdrive-list.envelope-o li {
    position:relative;
}
ul.hyperdrive-list.envelope-o li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f003";
}
ul.hyperdrive-list.times li {
    position:relative;
}
ul.hyperdrive-list.times li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f00d";
}
ul.hyperdrive-list.bullseye li {
    position:relative;
}
ul.hyperdrive-list.bullseye li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f140";
}
ul.hyperdrive-list.info li {
    position:relative;
}
ul.hyperdrive-list.info li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f129";
}
ul.hyperdrive-list.envelope li {
    position:relative;
}
ul.hyperdrive-list.envelope li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f0e0";
}
ul.hyperdrive-list.print li {
    position:relative;
}
ul.hyperdrive-list.print li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f02f";
}
ul.hyperdrive-list.lock li {
    position:relative;
}
ul.hyperdrive-list.lock li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f023";
}
ul.hyperdrive-list.check li {
    position:relative;
}
ul.hyperdrive-list.check li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f00c";
}
ul.hyperdrive-list.user li {
    position:relative;
}
ul.hyperdrive-list.user li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f007";
}
ul.hyperdrive-list.users li {
    position:relative;
}
ul.hyperdrive-list.users li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f0c0";
}
ul.hyperdrive-list.video-camera li {
    position:relative;
}
ul.hyperdrive-list.video-camera li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f03d";
}
ul.hyperdrive-list.exclamation-triangle li {
    position:relative;
}
ul.hyperdrive-list.exclamation-triangle li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f071";
}
ul.hyperdrive-list.wifi li {
    position:relative;
}
ul.hyperdrive-list.wifi li:before { 
        position:absolute;
        font-family: FontAwesome;
        font-size: 1em;
        top:0;
        left:-20px;
        content: "\f1eb";
}
.hyperdrive-list.blue { 
   color:#428bca;
}
.hyperdrive-list.red { 
   color:#d9534f;
}
.hyperdrive-list.green { 
   color:#5cb85c;
}
.hyperdrive-list.black { 
   color:#333333;
}
.hyperdrive-list.grey { 
   color:#939393;
}
.hyperdrive-list.purple { 
   color:#8c70b7;
}
.hyperdrive-list.orange { 
   color:#f0ad4e;
}
.hyperdrive-list.lightBlue { 
   color:#5bc0de;
}
.hyperdrive-list.yellow { 
   color:#fae55e;
}
.hyperdrive-list.white { 
   color:#fff;
}
/*====================================================================================================
 * Spoiler                                                                             
 =====================================================================================================*/

.hyperdrive-spoiler { 
    margin: 0 0 1.5em 0; 
}
.hyperdrive-spoiler-title { 
    padding: 0.3em 0 0.3em 26px; 
    font-weight: bold;
    cursor: pointer; 
}
.hyperdrive-spoiler-content { 
    padding: 15px 0; 
    display: none; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.blue { 
    background: 0 50% url(../images/spoiler-images/blueMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.red { 
    background: 0 50% url(../images/spoiler-images/redMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.green { 
    background: 0 50% url(../images/spoiler-images/greenMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.black { 
    background: 0 50% url(../images/spoiler-images/blackMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.grey { 
    background: 0 50% url(../images/spoiler-images/greyMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.purple { 
    background: 0 50% url(../images/spoiler-images/purpleMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.orange { 
    background: 0 50% url(../images/spoiler-images/orangeMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.lightBlue { 
    background: 0 50% url(../images/spoiler-images/lightBlueMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.yellow { 
    background: 0 50% url(../images/spoiler-images/yellowMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-title.white { 
    background: 0 50% url(../images/spoiler-images/whiteMinus.png) no-repeat; 
}
.hyperdrive-spoiler-open .hyperdrive-spoiler-content { 
    display: block; 
}

.hyperdrive-spoiler-title.xsmall,
.hyperdrive-spoiler-title.xsmall,
.hyperdrive-spoiler-content.xsmall {
	font-size: 12px !important;
}
.hyperdrive-spoiler-title.small,
.hyperdrive-spoiler-title.small,
.hyperdrive-spoiler-content.small {
	font-size: 14px !important;
}
.hyperdrive-spoiler-title.medium,
.hyperdrive-spoiler-title.medium,
.hyperdrive-spoiler-content.medium {
	font-size: 18px !important;
}
.hyperdrive-spoiler-title.large,
.hyperdrive-spoiler-title.large,
.hyperdrive-spoiler-content.large {
	font-size: 24px !important;
}
.hyperdrive-spoiler-title.xlarge,
.hyperdrive-spoiler-title.xlarge,
.hyperdrive-spoiler-content.xlarge
{
	font-size: 32px !important;
}
.hyperdrive-spoiler-content.blue { 
   color:#428bca;
}
.hyperdrive-spoiler-content.red { 
   color:#d9534f;
}
.hyperdrive-spoiler-content.green { 
   color:#5cb85c;
}
.hyperdrive-spoiler-content.black { 
   color:#333333;
}
.hyperdrive-spoiler-content.grey { 
   color:#939393;
}
.hyperdrive-spoiler-content.purple { 
   color:#8c70b7;
}
.hyperdrive-spoiler-content.orange { 
   color:#f0ad4e;
}
.hyperdrive-spoiler-content.lightBlue { 
   color:#5bc0de;
}
.hyperdrive-spoiler-content.yellow { 
   color:#fae55e;
}
.hyperdrive-spoiler-content.white { 
   color:#fff;
}
.hyperdrive-spoiler-title.blue {
	color:#428bca;
	background: 0 50% url(../images/spoiler-images/bluePlus.png) no-repeat;
}
.hyperdrive-spoiler-title.red {
	color:#d9534f;
	background: 0 50% url(../images/spoiler-images/redPlus.png) no-repeat;
}
.hyperdrive-spoiler-title.green {
	color:#5cb85c;
	background: 0 50% url(../images/spoiler-images/greenPlus.png) no-repeat;
}
.hyperdrive-spoiler-title.black {
	color:#333333;
	background: 0 50% url(../images/spoiler-images/blackPlus.png) no-repeat;
}
.hyperdrive-spoiler-title.grey {
	color:#939393;
	background: 0 50% url(../images/spoiler-images/greyPlus.png) no-repeat;
}
.hyperdrive-spoiler-title.purple {
	color:#8c70b7;
	background: 0 50% url(../images/spoiler-images/purplePlus.png) no-repeat;
}
.hyperdrive-spoiler-title.orange {
	color:#f0ad4e;
	background: 0 50% url(../images/spoiler-images/orangePlus.png) no-repeat;
}
.hyperdrive-spoiler-title.lightBlue {
	color:#5bc0de;
	background: 0 50% url(../images/spoiler-images/lightBluePlus.png) no-repeat;
}
.hyperdrive-spoiler-title.yellow {
	color:#fae55e;
	background: 0 50% url(../images/spoiler-images/yellowPlus.png) no-repeat;
}
.hyperdrive-spoiler-title.white {
	color:#fff;
	background: 0 50% url(../images/spoiler-images/whitePlus.png) no-repeat;
}

/*====================================================================================================
 * T A B S                                                                                   T A B S *
 =====================================================================================================*/

/* vertical
-------------------------------------------------------------- */
.hyperdrive-tabs-vertical dd.current                     { display: block; }
.hyperdrive-tabs-vertical                                { position: relative; width: 100%; height: auto; box-shadow: 0 0 3px #c3c3c3; border-radius: 10px; background-color: #f8f8f8; overflow: hidden; margin: 0; }
.hyperdrive-tabs-vertical dt                             { width: 22%; border-bottom: 1px solid #ededed; font-size: 12px; font-weight: bold; cursor: pointer; padding: 16px 0 16px 3%; }
.hyperdrive-tabs-vertical dt img                         { display: inline-block; margin-right: 15px; position: relative; top: 5px; }
.hyperdrive-tabs-vertical dd                             { position: absolute; top: 0; right: 0; margin-left: 25%; background-color: #FFF; width: 67%; height: 100%; box-shadow: inherit; overflow: auto; display: none; z-index: 1000; padding: 4%; }
.hyperdrive-tabs-vertical dt:first-child                 { margin-top: 2.4%; }
.hyperdrive-tabs-vertical dd .column_group p:first-child { margin-top: 0; }
.hyperdrive-tabs-vertical_arrow                          { position: absolute; top: 0; left: 23%; z-index: 1001; width: 19px; height: 38px; background-image: url(../images/tabs-images/arrow-vertical.png); background-repeat: no-repeat; }

.hyperdrive-tabs-vertical dt.current,
.hyperdrive-tabs-horizontal dt.current                   { font-style: italic; }

/* horizontal
-------------------------------------------------------------- */
.hyperdrive-tabs-horizontal dd.current                   { display: block; }
.hyperdrive-tabs-horizontal                              { position: relative; display: block; clear: both; margin-top: 40px; font-size: 12px; padding-top: 10px; padding-bottom: 35px; height: auto; }
dl.hyperdrive-tabs-horizontal                            { margin: 0 0 0 0; }
.hyperdrive-tabs-horizontal dt                           { float: left; margin-left: 1.25%; margin-right: 3.5%; cursor: pointer; font-weight: bold; }
.hyperdrive-tabs-horizontal dd                           { display: none; position: absolute; min-width: 90%; background-image: url(../images/tabs-images/tabs-bg.png); background-repeat: repeat-x; top: 50px; padding: 5%; }
.hyperdrive-tabs-horizontal_arrow                        { position: absolute; top: 38px; z-index: 1001; width: 28px; height: 15px; background-image: url(../images/tabs-images/arrow-horizontal.png); background-repeat: no-repeat; }


/****************** Lines ***********************/
.hyperdrive-line.blue {
	background-color: #428bca;
}
.hyperdrive-line.red {
	background-color: #d9534f;
}
.hyperdrive-line.green {
	background-color: #5cb85c;
}
.hyperdrive-line.black {
	background-color: #333333;
}
.hyperdrive-line.grey {
	background-color: #939393;
}
.hyperdrive-line.purple {
	background-color: #8c70b7;
}
.hyperdrive-line.orange {
	background-color: #f0ad4e;
}
.hyperdrive-line.light-blue {
	background-color: #5bc0de;
}
.hyperdrive-line.yellow {
	background-color: #fae55e;
}
.hyperdrive-line.white {
	background-color: #fff;
}
.hyperdrive-line.quarterwidth {
	width: 25%;
}
.hyperdrive-line.halfwidth {
	width: 50%;
}
.hyperdrive-line.threequarterwidth {
	width: 75%;
}
.hyperdrive-line.ninetywidth {
	width: 90%;
}
.hyperdrive-line.fullwidth {
	width: 100%;
}

.hyperdrive-line.verysmall {
	height: 1px;
}
.hyperdrive-line.small {
	height: 3px;
}
.hyperdrive-line.medium {
	height: 5px;
}
.hyperdrive-line.large {
	height: 8px;
}
.hyperdrive-line.xlarge {
	height: 10px;
}
.hyperdrive-line.supersize {
	height: 15px;
}
/*====================================================================================================
 * Tooltip                                                                             
 =====================================================================================================*/
.hyperdrive-tooltip.blue {
	color: #428bca;
}
.hyperdrive-tooltip.red {
	color: #d9534f;
}
.hyperdrive-tooltip.green {
	color: #5cb85c;
}
.hyperdrive-tooltip.black {
	color: #333333;
}
.hyperdrive-tooltip.grey {
	color: #939393;
}
.hyperdrive-tooltip.purple {
	color: #8c70b7;
}
.hyperdrive-tooltip.orange {
	color: #f0ad4e;
}
.hyperdrive-tooltip.light-blue {
	color: #5bc0de;
}
.hyperdrive-tooltip.yellow {
	color: #fae55e;
}
.hyperdrive-tooltip.white {
	color: #fff;
}
.blue-tooltip + .tooltip > .tooltip-inner {
	background-color: #428bca;
}
.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #d9534f;
}
.green-tooltip + .tooltip > .tooltip-inner {
	background-color: #5cb85c;
}
.black-tooltip + .tooltip > .tooltip-inner {
	background-color: #333333;
}
.grey-tooltip + .tooltip > .tooltip-inner {
	background-color: #939393;
}
.purple-tooltip + .tooltip > .tooltip-inner {
	background-color: #8c70b7;
}
.orange-tooltip + .tooltip > .tooltip-inner {
	background-color: #f0ad4e;
}
.lightBlue-tooltip + .tooltip > .tooltip-inner {
	background-color: #5bc0de;
}
.yellow-tooltip + .tooltip > .tooltip-inner {
	background-color: #fae55e;
}
.white-tooltip + .tooltip > .tooltip-inner {
	background-color: #fff;
}