/*
Theme Name: Turbulence
Theme URI: http://turbulence.website
Author: Darren Ladner
Author URI: http://hyperdrivedesigns.com
Description: Another WordPress Theme Based on Bootstrap Framework
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: turbulence
Tags: WordPress, Bootstrap, Responsive, Font Awesome, General, Customizer

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Turbulence is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Word Wrap
2.0 Footer
2.1 Header
3.0 Search
4.0 Portfolio
5.0 Social Icons
6.0 Homepage
6.1 Team Page
8.0 General
7.0 Alignments
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Posts Meta
	10.3 Asides
	10.4 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
14.0 Hero Homepage Modules
15.0 Landing Page
16.0 Pricing Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Word Wrap
--------------------------------------------------------------*/
#primary, #secondary {
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;
}

/*--------------------------------------------------------------
2.0 Footer
--------------------------------------------------------------*/
#colophon {
	margin-top: 50px;
}

#colophon .container {
	border-top: 1px solid #ddd;
	padding-top: 25px;
}


.footer-menu {
	margin-left:0;
	padding:0 0 30px 0;
}

.footer-menu li {
	display:inline;
	list-style-type:none;
}

.footer-menu li a {
	border-left:1px solid #ddd;
	padding: 0 8px;
}

.footer-menu > li:first-child > a {
	border-left:none;
	padding:0 8px 0 0;
}

footer .copyright, .poweredby {
	background-color: #121417;
	padding: 15px 0;
}

#menu-footer-menu li {
    display: table;
}

footer {
    color: #ccc;
    font-size: 14px;
}
.footer {
    background-color: #23282E;
}
footer .ft-icon {
    padding-top: 11px !important;
}
footer h3 {
    margin-bottom: 20px;
}

.footer-widget {
    padding-bottom: 20px;
}

.footer-widget .stats .line {
    font-size: 16px;
    margin-top: 10px;
}

.footer-widget .stats .line .counter {
    font-weight: 700;
    float: left;
    font-size: 18px;
}

.footer-widget .stats .line .caption {
    margin-left: 52px;
    display: block;
}

/*--------------------------------------------------------------
2.0 Footer
--------------------------------------------------------------*/
#logo {
	padding-top: 5px;
}
/*--------------------------------------------------------------
3.0 Search
--------------------------------------------------------------*/
.search-highlight {
    background:#FFFF00  
}
/*--------------------------------------------------------------
4.0 Portfolio
--------------------------------------------------------------*/
.portfolio img.wp-post-image {
    margin-bottom: 0;
    height: auto;  
}

.portfolio-item {
	margin: 10px 0;
}

.portfolio .thumbnail {
	margin-bottom: 5px;
}

.portfolio h4 {
	margin-top: 5px;
}

.single-portfolio .hentry {
	border-bottom: 0;
}
/*--------------------------------------------------------------
5.0 Social Icons
--------------------------------------------------------------*/
.social-icons {
	font-size: 32px;
	padding-bottom: 20px;
}

.social-icons a:hover{
	text-decoration: none;
}
/*--------------------------------------------------------------
6.0 Homepage 
--------------------------------------------------------------*/

.homehero .hentry {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#callToAction {
    background: #2c3e50;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    overflow: visible;
}

.centered {
    text-align: center;
}

.paddingBottom {
    padding-bottom:25px;
}

/*--------------------------------------------------------------
6.1 Team Page
--------------------------------------------------------------*/
.thumbnail {
    border: none;
}

.team-item {
    padding-top: 50px;
    padding-bottom: 50px;
}
.iconFix {
    padding-left: 20px;
    padding-top: 25px;
}
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
/*--------------------------------------------------------------
8.0 General
--------------------------------------------------------------*/
#wrapper {
    position: relative;
    backface-visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    z-index: 1030;
    background-color: #FFF;
    top: 0;
    bottom: 100%;
    left: 0;
}
.navbar {
    margin-bottom: 0px;
}
html,body {
    font-size: 100%;
    font-family: "Open Sans", helvetica, arial, sans-serif !important;
    color: #404040;
    background-color: white;
    position: relative;
}
.container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}
.headercontainer {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.centeredText {
    text-align:center;
    color:#fff;
}
.centeredTextBlack {
    text-align:center;
    color:#000;
}
.padding-bottom {
    padding-bottom: 25px;
}
.paddingTop {
    padding-top: 35px;
}
.sp_call_to_action {
    min-height: 200px;
    margin-top: -40px;
}
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget ul {
	list-style: none;
	padding-left: 10px;
}

.widgets_icon {
    text-align: center;
    padding-top: 35px;
}

.widgets_header {
    font-weight: bold;
    padding: 5px 0px;
    text-align: center;
}

.widgets_content {
    padding-top: 5px;
    padding-bottom: 50px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
     padding-bottom: 5px;
}

.footerLists li {
    padding-bottom: 5px;
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}

.hentry {
	margin: 0 0 1.8em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1.8em;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

img.wp-post-image {
	margin-bottom: 20px;
}

.author-meta {
	margin-top: 40px;
}

.author-meta .avatar {
	border-radius: 50%;
}

.author-meta .fa{
	font-size: 22px;
}

/*--------------------------------------------------------------
10.2 Post Meta
--------------------------------------------------------------*/
.entry-meta span {
	margin-right: 20px;
	display: inline-block;
}

.entry-meta span:last-child {
	margin-right: 0;
}

.entry-meta span .fa{
	color: #bcbcbc;
}

.entry-meta span a {
	color: #777;
	text-decoration: none;
}

.entry-meta span a:hover {
	text-decoration: underline;
}
/*--------------------------------------------------------------
10.3 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.4 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

.comments-title, .comment-reply-title {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}

ol.comment-list {
	list-style:none;
	padding-left: 0;
}

.comment-author .avatar {
	margin-right: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 4px;
}

.comment-meta {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-details {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.comment-details .reply {
	margin-top: 10px;
}

.comment-date a {
	font-size: 11px;
	color: #777;
	margin-right: 10px;
}

#commentform #comment {
	width: 100% !important;
}

#commentform #submit {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

#commentform #submit:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object,
img {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
14.0 Hero Homepage Modules
--------------------------------------------------------------*/
#hero {
	margin-top: -20px;
}

.light-typo {
    color: #fff;
}

#hero {
    background-color: #80B959;
    padding: 55px 0;
    min-height: 200px;
    padding-bottom: 1em;
    position: relative;
}
.welcome-content {
    min-height: 200px;
}
#hero h1 {
    font-size: 45px;
    font-weight: 300;
}
#hero h2 {
    font-family: "Merriweather", georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
}
#hero .middle-text {
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 20;
}
#hero .middle-text a.btn {
    margin-top: 20px;
    margin-right: 0;
}
#hero .container {
    display: table;
    height: 300px;
}
#hero #cover-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
    -ms-animation-delay: 0.15s;
    animation-delay: 0.15s;
    transform: translateZ(0);
}
#hero #cover-image:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}
/*--------------------------------------------------------------
15.0 Hero Homepage Modules
--------------------------------------------------------------*/
#lp_header_content {
    background-color: #2c3e50;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lp_main_content {
    background-color: #fff;
}
#lp_widgets {
    background-color: #ebebeb;
}
#lp_footer_content {
    background-color: #2d2d2d;
    min-height: 100px;
    padding-top:25px;
}
/*--------------------------------------------------------------
16.0 Pricing Tables
--------------------------------------------------------------*/
.turbulence-pricing-table {
    padding-bottom: 40px;
}

.turbulence-pricing-table .turbulence-pricing-header {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.turbulence-pricing-table .turbulence-pricing-header .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .turbulence-pricing-header {
    background: black;
}

.turbulence-pricing-table .turbulence-pricing-version {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
}

.turbulence-pricing-table .turbulence-price {
    display: inline-block;
    position: relative;
}

.turbulence-pricing-table .turbulence-price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.turbulence-pricing-table .turbulence-price .turbulence-price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.turbulence-pricing-table .turbulence-price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.turbulence-pricing-table ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.turbulence-pricing-table ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.turbulence-pricing-table .turbulence-pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #3071a9;
}

.turbulence-pricing-table .turbulence-pricing-signup:hover {
    background: #ff7878;
}

/*--------------------------------------------------------------
Media Queries 
--------------------------------------------------------------*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
      #hero .container {
        height: 377px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #hero .container {
        height: 377px;
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}